.heading-primary {
  background-clip: text;
  background-image: linear-gradient($color-tertiary-light, $color-secondary-light);
  color: transparent;
  font-size: $heading-primary-font-size;
  text-align: center;
  text-transform: uppercase;
  transition: 0.2s all;
  font-weight: $heading-primary-font-weight;
  letter-spacing: $heading-primary-letter-spacing;
  margin: 0;

  @include respond(tab-port) {
    letter-spacing: $heading-primary-letter-spacing-small;
  }

  @include respond(phone) {
    font-size: $heading-primary-font-size-small;
  }

  &:hover {
    transform: rotate(-4deg) scale(1.05);
  }
}

.heading-secondary {
  color: $color-white;
  text-transform: uppercase;
  font-weight: $heading-secondary-font-weight;
  font-size: $heading-secondary-font-size;
  text-shadow: $heading-secondary-text-shadow;
  margin: 0;

  @include respond(phone) {
    font-size: $heading-secondary-font-size-small;
  }
}

.paragraph {
  color: $color-white;
  font-size: $paragraph-font-size;
  font-weight: $paragraph-font-weight;
  letter-spacing: $paragraph-letter-spacing;
  margin: 0;

  @include respond(tab-port) {
    letter-spacing: $paragraph-letter-spacing-small;
  }

  @include respond(phone) {
    font-size: $paragraph-font-size-small;
  }
}

.heading-tertiary {
  color: $color-black;
  font-size: $heading-tertiaty-font-size;
  letter-spacing: $heading-tertiary-letter-spacing;
  text-align: center;
  margin: 0;

  @include respond(tab-port) {
    letter-spacing: $heading-tertiary-letter-spacing-small;
  }

  @include respond(phone) {
    font-size: $heading-tertiaty-font-size-small;
  }
}
