.courses-section {
  background-image: linear-gradient(
    40deg,
    $color-primary-dark 0%,
    $color-primary-dark 60%,
    rgb($color-primary-light, 1)
  );
  padding-top: 27rem;
  padding-bottom: 25rem;
  margin-top: -20rem;

  @include respond(tab-port) {
    margin-top: -17rem;
  }
}

.offers-section {
  background-image: linear-gradient(
      45deg,
      rgb($color-primary-dark, 1) 25%,
      rgb($color-primary-dark, 0.8) 50%,
      rgb($color-tertiary-light, 0.5)
    ),
    url('../img/offers-background-medium.jpg');
  padding: 15rem 0;
  background-size: cover;
  background-position: center;
  position: relative;
  transform: skewY(-6deg);
  margin-top: -15rem;

  & > * {
    transform: skewY(6deg);
  }

  @include respond(tab-port) {
    margin-top: -15rem;
    padding: 10rem 0;
  }
}

.bundles-section {
  background-image: linear-gradient(
      40deg,
      $color-primary-dark 0%,
      $color-primary-dark 43%,
      rgb($color-tertiary-light, 0.05) 78%,
      rgb($color-tertiary-light, 0.4)
    ),
    linear-gradient(40deg, rgb($color-primary-dark, 0.9) 75%, rgb($color-primary-dark, 0.98));

  padding-top: 25rem;
  padding-bottom: 30rem;
  margin-top: -10rem;

  @include respond(tab-port) {
    margin-top: -15rem;
    padding-bottom: 25rem;
  }

  @include respond(big-desktop) {
    margin-top: -15rem;
    padding-top: 30rem;
  }
}

.contact-section {
  background-image: linear-gradient(40deg, $color-primary-dark 15%, $color-primary-light);

  margin-top: -20rem;
  padding-top: 20rem;
  padding-bottom: 20rem;
  transform: skewY(-6deg);

  & > * {
    transform: skewY(6deg);
  }

  @include respond(tab-port) {
    margin-top: -15rem;
    padding-top: 10rem;
    padding-bottom: 20rem;
  }

  @include respond(big-desktop) {
    padding-bottom: 25rem;
  }
}
