@mixin positionCenter {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin absoluteCenter {
  position: absolute;
  @include positionCenter;
}

@mixin absoluteHorizontalCenter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin headerTextAnimation($animation-name) {
  animation-name: $animation-name;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

//MEDIA QUERY MANAGER
/*
0px - 600px Phone
600px - 900px Tablet portrait
900px - 1200px Tablet landscape
1200 - 1800px Desktop (default for this project)
1800px+ Big desktop 
*/

@mixin respond($device) {
  @if $device == phone {
    //600px
    @media only screen and (max-width: $phone-max-width) {
      @content;
    }
  }

  @if $device == tab-port {
    //900px
    @media only screen and (max-width: $tab-port-max-width) {
      @content;
    }
  }

  @if $device == tab-land {
    //1200px
    @media only screen and (max-width: $tab-land-max-width) {
      @content;
    }
  }

  @if $device == big-desktop {
    //1800px
    @media only screen and (min-width: $big-desktop-min-width) {
      @content;
    }
  }
}
