//COLOR
$color-primary-light: #808774;
$color-primary-dark: #3f3f3f;

$color-secondary-light: #fffcd6;
$color-secondary-dark: #b3b296;

$color-tertiary-light: #b5a642;
$color-tertiary-dark: #7f7a2e;

$color-grey-dark: #262b15;
$color-grey-light: #464b37;

$color-white: #fff;
$color-black: #000;

$color-invalid: orangered;
$color-valid: greenyellow;

//FONT SIZE
$default-font-size: 1.8rem;

//TYPHOGRAPHY
$heading-primary-font-size: 3rem;
$heading-primary-font-weight: 700;
$heading-secondary-font-size: 2.1rem;
$heading-secondary-font-weight: 700;
$heading-secondary-text-shadow: 2px 2px $color-black;
$heading-primary-letter-spacing: 0.2rem;
$paragraph-font-size: 1.6rem;
$paragraph-font-weight: 400;
$paragraph-letter-spacing: 0.2rem;

//HEADER
$header-polygon: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
$header-main-text-shadow: 0.5rem 0.5rem 0.5rem $color-black;
$header-sub-text-shadow: 0.25rem 0.25rem 0.25rem $color-black;
$header-logo-width: 12rem;
$header-text-main-font-size: 6rem;
$header-text-sub-font-size: 2rem;

//BUTTON
$button-box-shadow: 0 0.75rem 1.25rem rgba($color-black, 0.4);
$button-box-shadow-active: 0 0.5rem 1rem rgba($color-black, 0.4);
$button-border-radius: 15px;

//NAVIGATION
$navigation-button-size: 7rem;
$navigation-button-border-radius: 100rem;
$navigation-button-top: 4%;
$navigation-button-right: 2%;
$navigation-link-background-image: linear-gradient(
  120deg,
  transparent 0%,
  transparent 50%,
  $color-tertiary-light 50%
);
$navigation-link-padding: 1rem 3rem;
$navigation-link-font-size: 3rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$max-number-of-grid-columns: 12;

//COMPOSITION
$composition-border-radius: 2rem;
$composition-image-width: 60%;
$composition-border: 0.3rem $color-tertiary-light solid;
$composition-box-shadow: 0 1rem 1.5rem rgba($color-black, 0.3);
$composition-box-shadow-hover: 0 1rem 1.5rem rgba($color-black, 0.3);

//OFFER CARD
$offer-card-padding: 3rem;
$offer-card-background-color: rgba($color-white, 0.7);
$offer-card-border-radius: 2rem;
$offer-card-box-shadow: 0 1rem 1.5rem rgba($color-black, 0.3);
$offer-card-icon-font-size: 6rem;
$offer-card-text-font-size: 1.5rem;
$offer-card-hover-transform: scale(1.03) translateY(-1rem);
$offer-card-hover-box-shadow: 0 1.5rem 2rem rgba($color-black, 0.5);

//BUNDLE CARD
$bundle-card-box-shadow: 0 1.5rem 2rem rgba($color-black, 0.5);
$bundle-card-heading-font-size: 2.5rem;
$bundle-card-height: 50rem;
$bundle-card-border-radius: 15px;
$bundle-card-perspective: 150rem;

//BUNDLE CARD FRONT CARD
$bundle-card-picture-height: 23rem;
$bundle-card-picture-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
$bundle-card-heading-width: 75%;
$bundle-card-heading-top: 12rem;
$bundle-card-heading-right: 1rem;
$bundle-card-heading-line-height: 4rem;
$bundle-card-heading-font-weight: 300;
$bundle-card-heading-span-padding: 1rem 1.5rem;
$bundle-card-details-padding: 3rem;
$bundle-card-details-width: 80%;
$bundle-card-details-dates-ul-width: 80%;
$bundle-card-details-li-font-size: 1.5rem;
$bundle-card-details-li-padding: 1.2rem;
$bundle-card-details-li-border-bottom: 1px rgb($color-grey-light, 0.4) solid;

//BUNDLE CARD BACK CARD
$bundle-card-cta-price-box-font-weight: 300;
$bundle-card-cta-price-text-font-size: 1.5rem;
$bundle-card-cta-price-font-size: 5rem;
$bundle-card-cta-price-font-weight: 100;
$bundle-card-cta-dates-font-size: 2rem;
$bundle-card-cta-dates-ul-width: 80%;
$bundle-card-cta-dates-li-padding: 1rem;
$bundle-card-cta-dates-li-border-bottom: 1px $color-grey-light solid;

//CONTACT FORM

$contact-height: 51rem;
$contact-border-radius: 15px;
$contact-form-padding: 6rem;
$contact-form-width: 43%;
$contact-button-left: 25%;

//FORM
$form-group-margin-bottom: 3rem;

//TEXTBOX
$textbox-label-font-size: 1.2rem;
$textbox-label-top: 50%;
$textbox-label-translate: translateY(2.8rem);
$textbox-label-left: 1.5rem;
$textbox-label-transition: all 0.2s ease-in;

$textbox-input-background-color: rgba($color-white, 0.9);
$textbox-input-width: 80%;
$textbox-input-font-size: 1.8rem;
$textbox-input-padding: 1rem 1.5rem;
$textbox-input-border-radius: 1rem;
$textbox-input-transition: all 0.2s ease-in;

$textbox-input-focus-box-shadow: 0 1rem 2rem rgba($color-black, 0.3);
$textbox-input-focus-valid: $color-valid solid 2px;

//RADIO
$radio-box-width: 50%;
$radio-label-font-size: 1.8rem;
$radio-label-padding-left: 3rem;

$radio-button-outline-size: 1.8rem;
$radio-button-outline-border: solid 3px $color-tertiary-light;
$radio-button-inner-square-size: 1.5rem;
$radio-button-circle-border-radius: 2rem;
$radio-button-inner-square-center-transform: translate(27%, 27%);
$radio-button-checked-change-transition: opacity 0.2s ease-in;
$radio-button-invalid-state-border: solid 3px $color-invalid;
