$color-primary-light: #808774;
$color-primary-dark: #3f3f3f;

$color-secondary-light: #b3cde4;
$color-secondary-dark: #537692;

$color-tertiary-light: #86b9b0;
$color-tertiary-dark: #4c7273;

$color-grey-dark: #262b15;
$color-grey-light: #464b37;

$color-white: #fff;
$color-black: #000;

$header-polygon: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
