.composition {
  position: relative;

  &__image {
    position: absolute;
    width: $composition-image-width;
    border-radius: $composition-border-radius;
    box-shadow: $composition-box-shadow;
    border: $composition-border;

    transition: 0.2s all;

    &:hover {
      z-index: 4;
      transform: scale(1.1);
      box-shadow: $composition-box-shadow-hover;
    }
  }

  &__image--first {
    top: 2rem;
    left: 12rem;
    z-index: 2;
  }

  &__image--second {
    top: 15rem;
    left: 2rem;
    z-index: 3;
  }

  &__image--third {
    top: 18rem;
    right: 0rem;
    z-index: 1;
  }
}
