.contact {
  background-image: $contact-background-image-linear-gradient,
    url(../../src/img/contact-background-medium.jpg);
  background-position: center;
  background-size: cover;
  height: $contact-height;
  border-radius: $button-border-radius;
  box-shadow: $button-box-shadow;
  box-sizing: border-box;

  @include respond(tab-port) {
    background-image: $contact-background-image-linear-gradient-tab-port,
      url(../../src/img/contact-background-medium.jpg);
    height: $contact-height-tab-port;
  }

  @include respond(phone) {
    background-image: $contact-background-image-linear-gradient-tab-port,
      url(../../src/img/contact-background-small.jpg);
    height: $contact-height-phone;
  }

  @include respond(big-desktop) {
    background-image: $contact-background-image-linear-gradient-tab-port,
      url(../../src/img/contact-background-large.jpg);
  }

  &__form {
    padding: $contact-form-padding;
    width: $contact-form-width;

    @include respond(tab-port) {
      width: 100%;
      padding: $contact-form-padding-tab-port;
    }

    .form {
      @include respond(tab-port) {
        margin-top: $contact-margin-top-form-tab-port;
      }
    }
  }

  &__button {
    & > * {
      position: absolute;
      left: $contact-button-left;

      transform: translateX(-50%);

      &:hover {
        transform: translateY(-3px) translateX(-50%);
      }

      @include respond(tab-port) {
        bottom: $contact-button-bottom-form-tab-port;

        @include absoluteHorizontalCenter;
      }
    }
  }
}
