.form {
  &__group {
    position: relative;

    &:not(:last-child) {
      margin-bottom: $form-group-margin-bottom;
    }
  }

  &__label {
    position: absolute;
    font-size: $textbox-label-font-size;
    top: $textbox-label-top;
    transform: $textbox-label-translate;
    left: $textbox-label-left;
    color: $color-white;

    transition: $textbox-label-transition;
  }

  &__input {
    background-color: $textbox-input-background-color;
    width: $textbox-input-width;
    font-size: $textbox-input-font-size;
    padding: $textbox-input-padding;
    border-radius: $textbox-input-border-radius;
    font-family: inherit;
    color: inherit;
    display: block;
    transition: $textbox-input-transition;

    &:focus {
      outline: none;
      box-shadow: $textbox-input-focus-box-shadow;
      border: $textbox-input-focus-valid;
    }

    &--invalid {
      border-color: $color-invalid;

      &:focus {
        border-color: $color-invalid;
      }
    }

    @include respond(tab-port) {
      box-sizing: border-box;
    }
  }

  &__input:placeholder-shown + &__label {
    visibility: hidden;
    transform: translateY(-3rem);
  }

  &__helper-icon {
    font-size: 1.2rem;
    font-weight: 700;
    position: absolute;
    color: $color-black;
    background-color: $color-invalid;
    padding: 0.3rem;
    border-radius: 5px;
    right: -1rem;
    top: -1rem;
    border: 2px solid $color-primary-dark;
    cursor: pointer;

    opacity: 0;
    visibility: hidden;
    transform: scale(0.8);

    transition: 0.3s all;

    &--visible {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }
  }

  &__helper-box {
    position: absolute;
    background-color: $color-invalid;
    font-size: $textbox-label-font-size;
    border-radius: 5px;
    padding: 1.25rem 1.75rem;
    right: -10rem;
    top: -3.2rem;
    width: 22rem;
    border: 2px solid $color-black;

    opacity: 0;
    visibility: hidden;
    transform: scale(0.8);

    transition: 0.3s all;

    &--visible {
      opacity: 1;
      transform: scale(1);
      visibility: visible;
    }
  }

  &__helper-text {
    font-weight: 700;
    color: $color-black;
  }

  &__helper__close {
    color: $color-black;
    position: absolute;
    font-size: 1.8rem;
    right: 0.5rem;
    top: 0rem;
    cursor: pointer;
  }

  &__radio-box {
    width: $radio-box-width;
    display: inline-block;
    position: relative;
  }

  &__radio-label {
    color: $color-white;
    font-size: $radio-label-font-size;
    padding-left: $radio-label-padding-left;
    cursor: pointer;

    &::before {
      content: '';
      border: $radio-button-outline-border;
      display: inline-block;
      width: $radio-button-outline-size;
      height: $radio-button-outline-size;
      border-radius: $radio-button-circle-border-radius;
      position: absolute;
      left: 0;
    }

    &::after {
      content: '';
      opacity: 0;
      background-color: $color-tertiary-light;
      display: inline-block;
      width: $radio-button-inner-square-size;
      height: $radio-button-inner-square-size;
      border-radius: $radio-button-circle-border-radius;
      position: absolute;
      left: 0;
      transform: $radio-button-inner-square-center-transform;
      transition: $radio-button-checked-change-transition;
    }

    &--invalid {
      &::after {
        background-color: $color-invalid;
      }

      &::before {
        border: $radio-button-invalid-state-border;
      }
    }
  }

  &__radio-input {
    display: none;
  }

  &__radio-input:checked + &__radio-label::after {
    opacity: 1;
  }

  &__success-message {
    font-size: 1.6rem;
    color: $color-white;
    text-align: center;
  }
}
