.row {
  max-width: $grid-width;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;

    @include respond(tab-port) {
      margin-bottom: $gutter-vertical-tab-port;
    }
  }

  @include respond(tab-port) {
    max-width: $grid-width-tab-port;
  }

  @include respond(phone) {
    max-width: $grid-width-phone;
  }

  @include clearfix;

  @for $size from 1 through $max-number-of-grid-columns {
    .col-#{$size} {
      float: left;

      width: calc(
        $size *
          (
            (100% - ($max-number-of-grid-columns - 1) * (#{$gutter-horizontal})) /
              $max-number-of-grid-columns
          ) +
          ($size - 1) *
          #{$gutter-horizontal}
      );

      &:not(:last-child) {
        margin-right: $gutter-horizontal;

        @include respond(tab-port) {
          margin-right: 0;
          margin-bottom: $gutter-vertical-tab-port;
        }
      }

      @include respond(tab-port) {
        width: $column-width-tab-port;
      }
    }
  }
}
