.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: 2000;
  background-color: rgba($color-grey-light, 0.3);

  height: 100vh;
  width: 100%;
  transition: all 0.2s;

  opacity: 0;
  visibility: hidden;

  @supports (backdrop-filter: $popup-backdrop-filter-blur) or
    (-webkit-backdrop-filter: $popup-backdrop-filter-blur) {
    backdrop-filter: $popup-backdrop-filter-blur;
    -webkit-backdrop-filter: $popup-backdrop-filter-blur;
  }

  &--visible {
    opacity: 1;
    visibility: visible;
  }

  &__card {
    overflow: hidden;
    height: $popup-card-height;
    width: $grid-width;
    background-color: $color-secondary-light;
    border-radius: 10px;
    box-shadow: $popup-card-background-shadow;
    transition: all 0.3s;

    @include absoluteCenter;
    transform: scale(0.9) translate(-55%, -55%);

    @include respond(tab-port) {
      width: $grid-width-tab-port;
    }

    @include respond(tab-port) {
      width: $grid-width-phone;
    }
  }

  &--visible &__card {
    transform: scale(1) translate(-50%, -50%);
  }

  &__image-box {
    width: 50%;
  }

  &__image {
    float: left;
    width: 50%;
    background-image: url('../img/popup-image-medium.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__details {
    float: left;
    width: 50%;
    padding: $popup-card-details-padding;

    text-align: justify;

    @include respond(tab-port) {
      width: 100%;

      .btn {
        margin-top: auto;
      }
    }

    &--main {
      font-size: $popup-card-details-main-font-size;
      font-weight: 400;
    }

    &--sub {
      font-size: $popup-card-details-sub-font-size;
    }
  }

  &__close {
    position: absolute;
    right: $popup-close-right;
    top: $popup-close-top;
    font-size: $popup-close-size;
    font-weight: 700;
    color: $color-tertiary-dark;
    cursor: pointer;
  }
}
