.footer {
  margin-top: -10rem;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 20rem;
  padding-bottom: 15rem;
  background-image: $footer-background-image;

  @include respond(tab-port) {
    margin-top: -15rem;
    padding-top: 15rem;
    padding-bottom: 10rem;
    clip-path: $footer-clip-path-tab-port;

    @supports (clip-path: $footer-clip-path-tab-port) or
      (-webkit-clip-path: $footer-clip-path-tab-port) {
      clip-path: $footer-clip-path-tab-port;
      -webkit-clip-path: $footer-clip-path-tab-port;
    }
  }

  @include respond(big-desktop) {
    margin-top: -15rem;

    @supports (clip-path: $footer-clip-path-big-desktop) or
      (-webkit-clip-path: $footer-clip-path-big-desktop) {
      clip-path: $footer-clip-path-big-desktop;
      -webkit-clip-path: $footer-clip-path-big-desktop;
    }
  }

  @supports (clip-path: $footer-clip-path) or (-webkit-clip-path: $footer-clip-path) {
    clip-path: $footer-clip-path;
    -webkit-clip-path: $footer-clip-path;
  }

  &__logo {
    height: $footer-logo-size;
  }

  &__link-box {
    font-size: $footer-font-size;
    border-top: $footer-border-top;
    text-align: center;
  }

  &__list {
    list-style: none;
    color: $color-white;
    font-weight: $footer-font-weight;
    padding: 0;
  }

  &__item {
    cursor: pointer;
    display: inline-block;
    padding: $footer-element-padding;
    transition: $footer-list-items-transition;

    &:not(:last-child) {
      margin-right: $footer-list-item-margin-right;
    }

    &:hover {
      box-shadow: $footer-list-item-box-shadow-hover;
      transform: $footer-list-item-trasnform-hover;
    }
  }

  &__link {
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__details-box {
    border-top: $footer-border-top;
    text-align: justify;
  }

  &__details {
    font-size: $footer-font-size;
    padding: $footer-element-padding;
    font-weight: $footer-font-weight;
    color: $color-white;
  }
}
