.header {
  background-image: linear-gradient(
      45deg,
      rgb($color-primary-dark, 0.85) 40%,
      rgb($color-primary-light, 0.9),
      rgb($color-primary-light, 0.8)
    ),
    url('../img/header-background.jpg');

  height: $header-height-not-supports-clip-path;
  background-size: cover;
  background-position: center;
  position: relative;

  @supports (-webkit-clip-path: $header-polygon) or (clip-path: $header-polygon) {
    -webkit-clip-path: $header-polygon;
    clip-path: $header-polygon;
    height: $header-height;

    @include respond(tab-port) {
      -webkit-clip-path: $header-polygon-tab-port;
      clip-path: $header-polygon-tab-port;
      height: $header-height-tab-port;
    }

    @include respond(phone) {
      -webkit-clip-path: $header-polygon-phone;
      clip-path: $header-polygon-phone;
      height: $header-height-phone;
    }
  }

  &__logo-box {
    position: absolute;
    left: $header-logo-box-left;
    top: $header-logo-box-top;

    @include respond(tab-land) {
      left: $header-logo-box-left-tab-land;
      top: $header-logo-box-top-tab-land;
    }

    @include respond(tab-port) {
      left: $header-logo-box-left-tab-port;
      top: $header-logo-box-top-tab-port;
    }
  }

  &__logo {
    width: $header-logo-width;
    cursor: pointer;
  }

  &__text-box {
    position: absolute;
    top: $header-text-box-top;
    left: $header-text-box-left;
    transform: translate(-50%, -50%);
    text-align: center;

    @include respond(tab-land) {
      left: $header-text-box-left-tab-land;
    }

    @include respond(tab-port) {
      left: $header-text-box-left-tab-port;
    }
  }

  &__text {
    text-transform: uppercase;
    color: $color-white;

    &--main {
      font-size: $header-text-main-font-size;
      font-weight: 400;
      letter-spacing: $header-text-main-letter-spacing;
      display: block;
      text-shadow: $header-text-shadow;

      @include headerTextAnimation(moveInLeft);

      @include respond(tab-port) {
        letter-spacing: $header-text-main-letter-spacing-tab-port;
        font-size: $header-text-main-font-size-tab-port;
      }

      @include respond(phone) {
        letter-spacing: $header-text-main-letter-spacing-phone;
        font-size: $header-text-main-font-size-phone;
      }
    }

    &--sub {
      font-size: $header-text-sub-font-size;
      letter-spacing: $header-text-sub-letter-spacing;
      font-weight: 700;
      display: block;
      text-shadow: $header-text-shadow;

      @include headerTextAnimation(moveInRight);

      @include respond(tab-port) {
        letter-spacing: $header-text-sub-letter-spacing-tab-port;
        font-size: $header-text-sub-font-size-tab-port;
      }

      @include respond(phone) {
        letter-spacing: $header-text-sub-letter-spacing-phone;
        font-size: $header-text-sub-font-size-phone;
      }
    }
  }

  &__button-box {
    position: absolute;
    left: $header-text-box-left;
    top: $header-button-box-top;
    transform: translate(-50%, -50%);

    @include respond(tab-land) {
      left: $header-text-box-left-tab-land;
    }

    @include respond(tab-port) {
      left: $header-text-box-left-tab-port;
    }
  }
}
